/* Pre entrega 1 Thomas Spika */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

h1 { 
    color: #696969;
    text-align: center;
    font-family: 'Caveat', cursive;
}

body {
    background-color: #191919;
}

.list-item {
    list-style: none;
}

.list-item a { 
    text-decoration: none;
    color: #f4a460;
    font-size: 16px;
}


.nav li { 
    display: inline;
    text-align: center;
    position: relative;
    bottom: 20%;
    left: 32%;
    padding: 0px 11px;
    z-index: 15px;
}

.to img { 
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: center;
}

.to h1 {
    font-size: 3.5rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.to p {
    color: #696969;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    bottom: 46%;
    left: 32%;
}

p {
    color: #696969;
}

.astronauta img {
    text-align: center;
    display: block;
    width: auto;
    margin: auto;
}

.astronauta p {
    display: flex;
    justify-content: center;
    color: #696969;
}

.caja-principal {
    width: 80%;
    max-width: 600px;
    background: #1e1e1e;
    border-radius: 10px;
    padding: 10px 20px;
    display: block;
    align-items: center;
    margin: auto;
}

.plumas {
    text-align: center;
    display: block;
    width: auto;
    margin: auto;
    background: #1e1e1e;
}

.bio {
    color: #696969;
}

.bio h4 {
    text-align: center;
    padding-bottom: 0.5%;
}

.bio p {
    text-align: center;
    padding: 20px 20px 20px 20px;
    color: #a8a8a8;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
}

h2 {
    color: #696969;
    text-align: center;
    padding-top: 2%;
}

.contacto {
    color: #ffffff;
    text-align: center;
}

.contact h4 {
    color: #1d334a;
    text-align: center;
}

.contact a {
    text-align: center;
    display: block;
    align-items: center;
}

h3 {
    font-size: 16px;
    color: #696969;
}

.blog {
    text-align: center;
}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-content p {
    font-size: 16px;
    color: #696969;
    margin: 25px 0 45px 0;
    text-align: center;
}

.poema-1 {
    padding: 15px 55px;
}

.poema-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.poema-1 h3 {
    font-size: 25px;
    color: #323337;
}

.contact_form {	
	width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
    background-color: #1d334a; 
    padding-left: 30px; 
}


input {
	background-color: #696969; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
}


textarea {
    background-color: #696969; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}


label {
    display: block; 
	float: center; 	
}


button {
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #f4a460; 
	border-color: #f4a460; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
    cursor: pointer;
}


button p {
	color: #fff; 
}


span {
	color: #ab4493; 
}


.aviso {
	font-size: 13px;  
	color: #0e0e0e;  
}


::-webkit-input-placeholder {
    color: #a8a8a8;
}


::-webkit-textarea-placeholder {
    color: #a8a8a8;
}


.formulario input:focus {
	outline:0;
	border: 1px solid #97d848;
}


.formulario textarea:focus {
	outline:0;
	border: 1px solid #97d848;
}

.evento-1 {
    text-align: center;
    font-size: 24px;
    padding-top: 5%;
    padding-bottom: 3%;
    text-decoration-line: overline underline;

}

.general {
    display: flex;
}

.general h3 {
    font-size: 32px;
    font-family: 'Caveat', cursive;
    color: #1e1e1e;
    text-decoration: underline;

}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #1d334a;
}

.general-2 {
    background-image: url(../img/evento-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 114%;
}

.general-3 {
    background-image: url(../img/evento-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 114%;
}

.btn-1 {
    display: inline-block;
    padding: 10px 35px;
    background-color: #191919;
    color: #F9FAFC;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Caveat', cursive;
    
}

.btn-1:hover {
    background-color: #c39678;
}

.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item {
    color: #F9FAFC;
    background-color: #1d334a;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Caveat', cursive;
    cursor: pointer;
    margin: 10px auto;
    padding: 5px 15px;
    display: block;
    width: 100%;
    border-radius: 5px;
}

.boton-item:hover {
    background-color: #c39678;
}
/* seccion carrito */
.carrito{
    border: 1px solid #F9FAFC;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
    background-color: whitesmoke;
}
.carrito .header-carrito{
    background-color:#120e0e;
    color: black;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #97d848;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
    color: black;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    display: inline-block;
    font-size: 18px;
    width: 50px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: black;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #1d334a;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}